/* --------------------------------- reset---------------------------------  */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  outline: none;
}

/*--------------------------------- fonts --------------------------------- */
h1 {
  color: #fff;
  font-size: 0.8em;
  text-align: start;
}
h4 {
  font-size: 1em;
  min-width: 7rem;
}
h5 {
  background: #fff;
  color: rgba(0, 0, 0, 0.397);
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: lighter;
  font-size: 1.1em;
}

h6 {
  font-size: 0.8em;
}

/*---------------------------------  base styles --------------------------------- */
body {
  color: rgb(37, 37, 37);
  background: rgb(37, 37, 37);
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}
#headerContainer {
  height: 50px;
  display: flex;
  background-color: #5e1f99;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 0 auto;
}

#headerContainer #select {
  padding: 0.4rem 1rem;
  border-radius: 20px;
}
#main-container {
  margin: 0 auto;
  margin-top: 0.3rem;
}
#repoContainer {
  background: #fff;
  height: 170px;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.dataBox {
  padding: 7px;
  display: flex;
}
#contributorsContainer {
  margin-top: 0.3rem;
}

#contributorsContainer div {
  background: #fff;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}

/* ---------------------------------mobile size--------------------------------- */
@media screen and (min-width: 481px) {
  /* ----Fonts---- */
  h4 {
    font-size: 1em;
    min-width: 7rem;
  }

  h6 {
    margin-left: 0.05rem;
    font-size: 0.85em;
  }
}
/* ---------------------------------large tablets & laptops styles--------------------------------- */
@media screen and (min-width: 769px) {
  #headerContainer {
    max-width: 80%;
  }
  #main-container {
    max-width: 80%;
    display: flex;
    justify-content: space-between;
  }

  #repoContainer {
    max-width: 49%;
    min-width: 49.5%;
    height: 200px;
  }
  #contributorsContainer {
    max-width: 49%;
    min-width: 49.5%;
    margin-top: 0;
  }
  /* ----Fonts---- */
  h1 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.05em;
    min-width: 7rem;
  }

  h6 {
    margin-left: 0.2rem;
    font-size: 0.9em;
  }
}
/*--------------------------------- Desktop styles--------------------------------- */
@media screen and (min-width: 1280px) {
  #main-container {
    max-width: 80%;
  }
  #headerContainer {
    max-width: 80%;
  }
  /* ----Fonts---- */
  h1 {
    font-size: 1.5em;
  }
  h4 {
    font-size: 1.1em;
    min-width: 7rem;
  }

  h6 {
    margin-left: 0.3rem;
    font-size: 1em;
  }
}
